<template>
  <b-container fluid id="app">
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#">Axeed</b-navbar-brand>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/">Welcome</b-nav-item>
          <b-nav-item to="/tasks">Tasks</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div id="body">
      <router-view />
    </div>
  </b-container>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 0;
  padding-right: 0;
}

#body {
  padding-left: 15px;
  padding-right: 15px;
}

nav {
  margin-bottom: 40px;
  vertical-align: middle;
}
</style>