<template>
  <div>
    <b-table 
      striped
      :items="tasks"
      :fields="fields">
    </b-table>
    <p>There is {{ count }} tasks registered</p>
  </div>
</template>

<script>
import TaskAPI from '@/api/taskAPI'

export default {
  data: function() {
    return {
      tasks: [],
      fields: [
        'title',
        'description',
        'priority'
      ]
    }
  },
  computed: {
    count() {
      return this.tasks.length
    }
  },
  mounted: async function() {
    this.tasks = await TaskAPI.all()
  }
}
</script>


