<template>
  <div class="welcome">
    <h1 style="text-align:center"> Axeed</h1>
    <h2>Welcome!</h2>
    <p>This application is a sample for the following stack:</p>
    <ul>
      <li><strong>Vue.js</strong> at front</li>
      <li><strong>Bootstrap Vue</strong> as CSS framework</li>
      <li><strong>Axios</strong> for front > Back communication</li>
      <li><strong>Java/JEE</strong> on the back</li>
      <li><strong>JAX-RS</strong> for REST part of the app, implemented by <strong>Jersey</strong></li>
      <li><strong>Weld</strong> for the CDI implementation</li>
      <li><strong>MongoDB</strong> as database</li>
      <li>And finally <strong>Morphia</strong> as ODM</li>
    </ul>
    <p>Do not hesitate to provide authors with feedback and any recommandations. Documentation and sources are available in the dedicated gitlab <a href="https://gitlab.com/glefur/axeed">repository</a>.</p>
    
  </div>
</template>

<script>
export default {
  name: 'Welcome'
}
</script>
