<template>
  <div class="about">
    <h1 style="text-align:center">To do list</h1>
    <tasks />
  </div>
</template>

<script>
import Tasks from '@/components/Tasks.vue'

export default {
  name: 'TasksList',
  components: {
    Tasks
  }
}
</script>
